@import './base.css';

body{
  background-image: url('./Glitch-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: VCR OSD Mono;
  font-weight: normal;
  color: #000000;
  
  
}

#app thead{
  font-size: 20px;
}

.card-header{ 
  font-size: 25px;
}

.card{
  height: 600px;
  width: 1300px;
}

a,
.green {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  font-family: VCR OSD Mono;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(310, 94%, 52%, 0.911);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

html, body{
  height:100%;
}

#background{
background-image: url("./Glitch-img.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;
}

#background p{
text-align:center;
font-size:20px;
}
  
div.card{
  size: 100px;
}

a.btn.btn-primary{
  font-size: 20px;
  flex: none;
}

a.btn.btn-secondary{
  font-size: 20px;
  flex: none;
  position: relative;
}